.contact {
    background-color: $dark-grey;
    min-height: 100vh;
    // position: relative;
}

#triangle-canvas {
    min-height: 100vh;
    min-width: 100vw;
    // position: absolute;
    z-index: 1;
}

.triangle-container {
    // position: absolute;
    width: 30px;
    height: 30px;
    z-index: 2;
}