.contact {
    background-color: $dark-grey;
    min-height: 100vh;
}

#triangle-canvas {
    z-index: 1;
    width: 100%;
}

// .triangle-container {
//     position: absolute;
//     top: 0; 
//     left: 0;
// }