.parallax-scene {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.layer {
    height: 100%;
    width: 50%;
    padding: 0;
    margin: 0;
}

.cloud {
	max-width: 100%;
    height: auto;
    width: auto\9; 
}

.cloud-position-1 {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
	top: $l-size;
	left: $l-size;
	transform: scale(2);
}

.cloud-position-2 {
    list-style: none;
    // display: block;
    padding: 0;
    margin: 0;
    left: 100%;
    position: relative;
	top: 30%;
	// transform: translate(-70%, 0%);
	// width: 80%;
	transform: scale(2);
}

.cloud-position-3 {
    list-style: none;
    // display: block;
    padding: 0;
    margin: 0;
    left: 80%;
    position: relative;
	top: 70%;
	// transform: translate(-80%, 0%);
	// width: 60%;
	transform: scale(2);
}

.cloud-position-4 {
    list-style: none;
    // display: block;
    padding: 0;
    margin: 0;
    // left: 20%;
    position: relative;
	top: 50%;
	transform: scale(2);
}

.x1 {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
}

.x2 {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x3 {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.cloud-shadow {
	-webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
@media(min-width: $desktop-breakpoint) {
	.cloud-position-1 {
		transform: scale(1);
	}
	.cloud-position-2 {
		transform: scale(1);
	}
	.cloud-position-3 {
		transform: scale(1);
	}
	.cloud-position-4 {
		transform: scale(1);
	}
}